# System Files
.DS_Store
Thumbs.db
*.log

# Backend
backend/.venv/
backend/venv/
backend/env/
__pycache__/
*.py[cod]
*$py.class
backend/.pytest_cache/
backend/.mypy_cache/

# Frames / Static Data
backend/static

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Code Editors
.vscode/
.idea/
*.swp
*.swo